@model KPMG.Interview.TaskOne.WebApp.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <label>@Model.WebApiData</label>
    <label>@Model.WebAppData</label>
</div>
